name: giggler-golang
services:
  # INFRASTRUCTURE SERVICES
  # TODO: add grafana loki
  # TODO: add grafana tempo
  # TODO: add prometheus
  db:
    image: postgres:18.0
    env_file:
      - path: ./env/example.env
        required: true
      - path: ./env/.env
        required: false
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 1s
      timeout: 5s
      retries: 10

  # APPLICATION ITSELF
  webapi:
    env_file:
      - path: ./env/example.env
        required: true
      - path: ./env/.env
        required: false
    ports:
      - "${WEBAPI_PORT:-8080}:${WEBAPI_PORT:-8080}"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://localhost:${WEBAPI_PORT:-8080}/build-version",
        ]
      start_period: 5s
      interval: 1s
      timeout: 1s
      retries: 5
    depends_on:
      db:
        condition: service_healthy

  # CONSUMER SERVICES
  grafana:
    image: grafana/grafana-oss
    env_file:
      - path: ./env/example.env
        required: true
      - path: ./env/.env
        required: false
    environment:
      - GF_LOG_LEVEL=error
    # if you are running as root then set it to 0
    # else find the right id with the id -u command
    user: "0"
    ports:
      - "${GRAFANA_PORT:-8091}:3000"
    volumes:
      # TODO: define a named grafana volume
      - /var/lib/grafana
    depends_on:
      webapi:
        condition: service_healthy
