# This is an example of a dev.env file for the development.
#
# It contains all the environment variables, that are used in the application,
# with the all possible values, that can be set.

APP_MODE= # dev | prod | test

# URL specifies the URL to access the application from the browser
URL=http://localhost:3000

LOGGER= # slog_stdout | nop

TRACER= # 

DB= # gorm
DB_GORM_PATH=./var/db.sqlite3

FS= # local
FS_LOCAL_PATH=./var/files

EMAILER= # dummy

### View ENV ###

PORT=3000

JWT_SIGN_KEY=01234567890123456789012345678901
JWT_ACCESS_DURATION=15m
JWT_REFRESH_DURATION=24h