# This is an example of a .env file for the development.
#
# It contains all the env vars, that are used in the application,
# with the all possible values, that can be set.

# dev | prod | test
APP_MODE=dev

IS_PPROF_ENABLED=true

# URL specifies the URL to access the application from the browser
URL=http://localhost:3000

# slog_stdout | nop
LOGGER=slog_stdout

TRACER= # 

DB=gorm
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_SSLMODE=disable

FS=local
FS_LOCAL_PATH=./local/files

EMAILER=dummy

### View ###

API_PORT=3000
JWT_SIGN_KEY=01234567890123456789012345678901
JWT_ACCESS_DURATION=15m
JWT_REFRESH_DURATION=24h

### External ###

OPENAPI_PORT=3100
GRAFANA_PORT=3200